name: Run Weather Collector Every Hour (KST)

on:
  schedule:
    - cron: '0 * * * *' 
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set timezone to Asia/Seoul
        run: sudo timedatectl set-timezone Asia/Seoul

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas supabase pytz

      - name: Run Python script
        run: python autoweatherrecordtosupabase.py
