name: Run Python Script Every Hour

on:
  schedule:
    - cron: '10 * * * *'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies manually
        run: |
          python -m pip install --upgrade pip
          pip install requests pandas supabase

      - name: Run Python script
        run: python autoweatherrecordtosupabase.py
